@use '../../../styles/mixins';
@use '../../../styles/variables';
@use '../../../styles/media';

.product-section {

  &__bg {
    @include mixins.sectionBgImage(303px);

    @include media.media(media.$md) {
      @include mixins.sectionBgImage(400px);
    }
  }

  &__title {
    padding-top: 48px;
    display: grid;
    justify-items: center;
    gap: 24px;
  }

  &__list {
    position: relative;
    top: -80px;

    @include media.media(media.$sm) {
      top: -30px;
    }

  }
}
