@use '../../../styles/mixins';
@use '../../../styles/media';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-block: 1.5rem;

  backdrop-filter: blur(8px);

  &__nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.4rem;

  }

  &__items {
    display: flex;
    gap: 1rem;

    @include media.media(media.$md) {
      display: none;
    }
  }

  &__nav-link {
    padding: 1rem;
  }

  &__nav-link_isActive {
    font-weight: 600;
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  @include media.media(media.$md) {
    display: none;
  }
}
