@use '../../../styles/mixins';
@use '../../../styles/variables';


.iphone-section {
  margin-top: variables.$section-mt;

  &__bg {
    @include mixins.sectionBgImage(236px);
  }

  &__list {
    position: relative;
    top: -100px;
  }

  &__button {
    display: flex;
    gap: 1rem;
    align-items: center;
    text-transform: capitalize;
    font-size: 1.6rem;
  }

  &__title {
    padding-block: 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
