@use '../../../styles/media';

.tv-section {
  & h2 {
    visibility: hidden;
  }

  &__list {
    display: flex;
    width: 100%;
    gap: 24px;
    justify-content: center;

    @include media.media(media.$md) {
      flex-direction: column;
    }
  }
}
