@use "../../../../../styles/media";

.mobile-menu {
  position: fixed;
  height: 100vh;
  width: 100wv;
  inset: 0;

  background-color: #fff;

  transform: translateX(-100%);
  transition: transform 300ms ease-in;
  overflow: hidden;

  z-index: 100;

  &-active {
    transform: translateX(0);
  }

  &__nav {
    display: grid;
    gap: 10px;
    font-size: 2.5rem;
    justify-content: center;
    padding-top: 2rem;
  }

  &__header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

  @include media.media-up(media.$md) {
    display: none;
  }

  &__close {
    &:hover {
      cursor: pointer;
    }
  }
}
